@import './base.css';

#app {
  margin: 0;
  padding: 0;
  display: flex;
}

main {
  position: relative;
  flex: 1;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  border: none;
  background: var(--color-highlight);
  color: var(--color-text);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  text-wrap: nowrap;
}

.link {
  color: var(--color-highlight);
}

h1 {
  font-weight: bold;
}

.sel-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  filter: invert(80%);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .sel-icon {
    filter: invert(0%);
  }
}